extends layout


block content
  if !(session.isLoggedIn)
    .section-content
      .container
        h2 Là một cộng đồng tiềm năng
        p.lead  Cung cấp giải pháp gửi email an toàn bảo mật, tìm bạn một cách nhanh chóng và dễ dàng.
        .row
          .col-sm-12
            .card-group
              .card
                .card-block
                  h4.card-subtitle An toàn 
                  //- h6.card-subtitle Support card subtitle
                img(src="/img/communicate 1.jpg", alt="Chia sẽ ý tưởng")
                .card-block
                  p.card-text Cung cấp 1 giải pháp gửi email mới an toàn hơn
              .card
                .card-block
                  h4.card-subtitle Bảo mật 
                  //- h6.card-subtitle Support card subtitle
                img(src="/img/communicate 2.jpg", alt="Chia sẽ ý tưởng")
                .card-block
                  p.card-text Thông tin sẽ được ẩn danh và bảo mật
              .card
                .card-block
                  h4.card-subtitle Cộng đồng tiềm năng
                  //- h6.card-subtitle Support card subtitle
                img(src="/img/communicate 3.jpg", alt="Chia sẽ ý tưởng")
                .card-block
                  p.card-text Tiềm năng phát triền cộng đồng cao.
  else    
    .container#container-home
      .row
        .col-sm-2.col-sm-offset-1
          .dropdown
            button(id="taotinnhan",type="button", class="btn btn-primary") Soan thư
            a(class="dropdown-item", href="/#nav-main") Hộp thư đến
            a(class="dropdown-item", href="/showFriends") Bạn bè
            a(class="dropdown-item", href="/sent") Thư đã gửi
        .col-sm-8#row-content          
          .row            
            .col-sm-3.col-xs-6 
              h4  NGƯỜI GỬI
            .col-sm-6.col-xs-6 
              h4  NỘI DUNG
            .col-sm-3.col-xs-6 
              h4  NGÀY
          .row    
            -each item in listEmail
                -each nguoigui in listFriend
                  -if (item.nguoigui == nguoigui.friendName)
                    -if (nguoigui.trangthai == 1)
                      -if (item.trangthai == "1")
                          .HomeEmailCSS(id="#{item._id}",style="margin: 10px 0px;border-top: 2px solid;background-color: #FFF;display: flex;")
                            .col-sm-3.col-xs-6= item.nguoigui
                            .col-sm-6.col-xs-6
                              p(style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;")= item.noidung
                            .col-sm-3.col-xs-6= item.ngay
                      -else
                          .HomeEmailCSS(id="#{item._id}",style="margin: 10px 0px;border-top: 2px solid;background-color: #F4F4F4;display: flex;")
                            .col-sm-3.col-xs-6= item.nguoigui
                            .col-sm-6.col-xs-6
                              p(style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;")= item.noidung
                            .col-sm-3.col-xs-6= item.ngay                 
